/* Paulinas awesome plant! ****************************************************/

.plantContainer {
  width: 100%;
  height: 100%;
}

.plant {
    position: absolute;
    bottom: -25px;
    right: 100px;
    width: 50px;
    height: 20px;
    transform: scale(0.7, 0.7);
}

/*plant*/
.branch {
  animation:sway 5s infinite linear alternate;
  border-bottom:none;
  border-left:solid 6px #060;
  border-right:none;
  border-top:none;
  border-top-left-radius:100%;
  bottom:0;
  height:250px;
  left:25%;
  position:absolute;
  transform-origin:bottom;
  width:50px;
}

.branch:nth-child(2) {
  border-width:6px;
  height:300px;
}

.branch:nth-child(3) {
  border-color:#070;
  border-width:12px;
  height:400px;
}

.branch:nth-child(4) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 12px #070;
  border-top-right-radius:100%;
  height:350px;
  left:auto;
  right:74%;
}

.branch:nth-child(5) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 9px #060;
  border-top-right-radius:100%;
  height:250px;
  left:auto;
  right:75%;
}

.branch:nth-child(6) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 6px #050;
  border-top-right-radius:100%;
  height:150px;
  left:auto;
  right:75%;
}

@keyframes sway {
  0% {
    width:50px;
  }
  100% {
    width:200px;
  }
}




.container{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.card-container {
  display: inline-block;
  margin: 0 auto;

  /* better flipping effect */
  perspective: 900px;
  text-align: center;
}
.card {
  position: relative;
  width: 340px;
  height: 280px;
  /* it makes the card flip slower! Nicer effect!*/
  transition: all 0.6s ease;
  /* without it the cards would not be displaying the back! And the text would be backwards after flipping */
  transform-style: preserve-3d;
}
.front, .back {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 5px;
color: white;
box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
/* this is essential to have the backflip work */
backface-visibility: hidden;
}
.front {
  background-color: var(--main-green-light);
  font-size: 12px;
}
.card-img{
  background: black;
  width: 100%;
  height: 210px;
  /*THank you Lucy for showing me this! It clips the img and fit into a specified area */
  overflow:hidden;
}
.card-body{
    width: 100%;
    height: 150px;
  }
  .card-footer{
    font-size: 16px;
  }

.back {
  background: var(--main-violet-light);
  font-size: 14px;

  }


.pelBack{
  display: block;
  padding-top: 40px;
  font-weight: bold;
  padding-left: 10px;

}

  .flipbutton {
    background-color: var(--main-violet2-very-light);
    border-radius: 4px;
    border: solid 1px var(--main-green-dark);
    color: var(--main-green-dark);
    padding: .5em 1em;
    height: 50px;
    width: 200px;
}

/* we need to have both rotateY and rotateX - otherwise it would not work */
.card-container:hover .card {
transform: rotateY(180deg);
}
.back {
transform: rotateY(180deg);
}

.em{
  padding-left: 120px;
}

.titleCard {
}

/* RESPONSIVE *****************************************************************/

@media only screen and (max-width: 600px) {
  .plant {
    transform: scale(0.4, 0.4);
    right: 50px;
  }
}
