/* Paulinas awesome plant! ****************************************************/

.plantContainer {
  width: 100%;
  height: 100%;
}

.plant {
    position: absolute;
    bottom: -25px;
    right: 100px;
    width: 50px;
    height: 20px;
    transform: scale(0.7, 0.7);
}

/*plant*/
.branch {
  animation:sway 5s infinite linear alternate;
  border-bottom:none;
  border-left:solid 6px #060;
  border-right:none;
  border-top:none;
  border-top-left-radius:100%;
  bottom:0;
  height:250px;
  left:25%;
  position:absolute;
  transform-origin:bottom;
  width:50px;
}

.branch:nth-child(2) {
  border-width:6px;
  height:300px;
}

.branch:nth-child(3) {
  border-color:#070;
  border-width:12px;
  height:400px;
}

.branch:nth-child(4) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 12px #070;
  border-top-right-radius:100%;
  height:350px;
  left:auto;
  right:74%;
}

.branch:nth-child(5) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 9px #060;
  border-top-right-radius:100%;
  height:250px;
  left:auto;
  right:75%;
}

.branch:nth-child(6) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 6px #050;
  border-top-right-radius:100%;
  height:150px;
  left:auto;
  right:75%;
}

@keyframes sway {
  0% {
    width:50px;
  }
  100% {
    width:200px;
  }
}


/* RESPONSIVE *****************************************************************/

@media only screen and (max-width: 600px) {
  .plant {
    transform: scale(0.4, 0.4);
    right: 50px;
  }
}
