@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
/* default colour theme */
html {
  --main-neutral-very-light: white;
	--main-neutral-light: #faf9f2;
  --main-neutral-med-light: #f5f1e7;
  --main-neutral-med: #73736e;
	--main-neutral-dark: #393939;
  --main-neutral-vary_dark: #1d1c1c;
  --main-neutral-dark_rgba: rgba(57, 57, 57, 0.3);

	--main-green-dark: #3d442f;
	--main-green-med: #82955a;
	--main-green-light: #a0b27e;
  --main-green-very-light: #e1e6d7;

  --main-blue-dark: #017597;
	--main-blue-med: #2898a5;
	--main-blue-light: #65e1f7;
  --main-blue-very-light: #c6e5e5;
}

/* GENERAL ********************************************************************/

* {
  color: var(--main-neutral-dark);
  font-family: 'Livvic', sans-serif;
  letter-spacing: 0.03em;
  /* font-family: 'Lexend Deca', sans-serif; */
}

body {
  background-color: var(--main-neutral-light);
  min-height: 100vh;
}

#root {
    min-height: calc(100vh - 171px);
    position: relative;
    padding-bottom: 171px;
}

a {
  cursor: pointer;
}

button,
input[type="submit"],
input[type="file"] {
  padding: 13px 20px;
}

input[type="checkbox"] {
  margin: 10px;
}

input[type="file"] {
  box-sizing: border-box;
  border: 2px solid var(--main-neutral-med-light);

}

input {
  padding: 10px;
  margin: 5px;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--main-neutral-med-light);
  border-radius: 4px;
  font-size: 1em;
}

input:focus {
  outline: none;
  border: 2px solid var(--main-neutral-dark_rgba);
  box-shadow: 0 0 10px var(--main-neutral-dark_rgba);
}

textarea {
  border: 2px solid var(--main-neutral-med-light);
  width: 400px;
  height: 150px;
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

/* HEADER *********************************************************************/

.nav {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 30px;
}

.nav .links {
  text-align: right;
  display: inline-block;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: var(--main-neutral-dark);
}

.nav a:hover {
  color: var(--main-green-med)
}

.logo {
  max-height: 1em;
  max-width: 1em;
  display: inline;
  vertical-align: middle;
}

.nav h1 {
  display: inline-block;
  cursor: pointer;
}

.nav h1 .hover {
  display: none;
}

.nav h1:hover {
  color: var(--main-green-med);
  cursor: pointer;
}

.nav h1:hover .nohover {
  display: none;
}

.nav h1:hover .hover {
  display: inline-block;
}

a.headerTitle {
  padding: 0;
  cursor: pointer;
}

.featureImage {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: block;
}

/* FOOTER **********************************************************************/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  min-height: 171px;
  color: var(--main-neutral-light);
  background-image: url("../images/dirt_short.png");
  background-repeat: repeat-x;
}

.footerPos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);

}

.footer span {
  padding: 30px;
  padding-top: 100px;
  box-sizing: border-box;
  display: inline-block;
  color: var(--main-neutral-light);
}

/* ALL PLANTS *****************************************************************/

.allPlantsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}

.allPlantsShow {
  border-radius: 4px;
  display: block;
  object-fit: cover;
  max-height: 220px;
}

/* PLANT PROFILE **************************************************************/

.plantProfileGrid {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-column-gap: 10px;
}

.plantProfileTitle {
  text-align: center;
}

.plantProfileBold {
  font-weight: bold;
  color: var(--main-green-dark);
}

.plantProfileImage {
  grid-column-start: 1;
  grid-column-end: 4;
}

.plantProfileStats {
  grid-column-start: 5;
  grid-column-end: 12;
}

.plantProfileBookingDates {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;

}

.plantProfileBookingDates form,
.plantProfileBookingDates input {
  display: block;
  margin: 0 auto;
}

.plantProfileBookingGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.plantProfileImage img {
  border-radius: 4px;
}

.plantProfileButtonArea {
  text-align: center;
  padding-top: 30px;
}

.bookedDates {
  background-color: var(--main-neutral-light);
  border-radius: 4px;
}

.bookedDates:hover {
  background-color: var(--main-neutral-light);
  border-radius: 4px;
}


.comment {
  width: 100%;
  display: block;
  background-color: var(--main-neutral-very-light);
  border-radius: 5px;
  border: 2px solid var(--main-neutral-med-light);
  padding: 20px;
  box-sizing: border-box;
}

.commentTime {
  font-style: italic;
  color: var(--main-neutral-med);
  font-size: 0.8em;
  vertical-align: baseline;
}

.ratingImg {
  max-width: 20px;
  max-height: 20px;
}

/* All Forms ******************************************************************/

.centerForm {
  text-align: center;
}

.centerForm input,
.centerForm textarea,
.centerForm img {
  margin: 0 auto;
}

input[type="checkbox"] {
  margin: 10px auto;
}

select {
  display: block;
}

/* PROFILE ********************************************************************/

.profileGrid {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.profileGrid div {
  text-align: center;
}

.profileGrid img {
  margin: 0 auto;
}

.userProfile {
  text-align: center;
  margin: 0 auto;
}

.profile {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  display: block;
}

.profileSmall {
  max-width: 50px;
  max-height: 50px;
  display: block;
}

.title {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #77b300;
    margin-bottom: 20px;

}

.question {
  color: #806000;
  margin-bottom: 10px;
}

.answerBtn{
  background-color: #e6ccb3;
  margin-left: 20px;
  margin-bottom: 20px;
}

.userAssociationGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.UserPlantBook,
.UserPlantOwn {
  background-color: var(--main-neutral-very-light);
  border-radius: 10px;
}
